@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.pagination{
  margin-top: -3.5rem;
  padding: .5rem ;
}

.editable-input{
  border: none;
  outline: none;
  background-color: inherit;
}
.editable-input:focus {
  outline: none;
  border: none !important;
}



.mantine-Table-table{
  background-color: aquamarine;
}

.mantine-1bd5g77{
  /* background-color: aquamarine; */
  /* margin-top:3rem ; */
}

.mantine-Paper-root{
  margin-top:1.5rem ;
  padding: 1rem;
  background-color: lightgrey !important;
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

.mantine-1m3tpc2{
  background-color: lightgrey !important;
  border-radius: .5rem;
}


.mantine-vl6xmj{
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;

  /* border-radius: .5rem; */
}

.mantine-kq5u63{
 background: none;
}

.mantine-101f4n0{
  background: none;
}

.mantine-1bd5g77,.mantine-1knjhw7{
  background-color: lightgrey !important;
  margin-top: -.4rem;
}

/* Solar */
.mantine-hupejn{
  background-color: bisque;
}

/* Mounting table */
.mantine-1x4bken{
  background-color: lightseagreen;
  border-right: 2px solid gray !important;
}

/* General Table */
.mantine-ezzqxq{
  background-color: aquamarine !important;
}

.tabler-icon{
  /* height: 2rem !important; */
  /* color : red; */
}

mantine-1fbon9v{
  background-color: bisque;
}

.mantine-Switch-trackLabel{
  /* background-color: aqua; */
}


::-webkit-scrollbar {
  height: .5rem; /* You can adjust the height of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the thumb on hover */
}